# Eclipse Core
**/.classpath
**/.project
**/.settings/

# IntelliJ IDEA
**/*.iml
**/.idea

# Maven Build
**/target

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Gradle
.gradle
**/build/
!.github/actions/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
bin/

# Local sysroot files
webrtc-jni/src/main/cpp/dependencies/webrtc/linux/debian*amd64*
webrtc-jni/src/main/cpp/dependencies/webrtc/linux/debian*armhf*
webrtc-jni/src/main/cpp/dependencies/webrtc/linux/debian*arm64*
webrtc-jni/src/main/cpp/dependencies/webrtc/webrtc-source/

# VSCode / clangd
.cache/
compile_commands.json
