name: Build

on:
  push:
    branches:
        - '**'
    paths-ignore:
      - '.github/ISSUE_TEMPLATE/*.yml'
      - '.gitignore'
      - 'CONTRIBUTING.md'
      - 'LICENSE'
      - 'NOTICE'
      - 'README.md'

  pull_request:
  workflow_dispatch:

env:
  WEBRTC_CHECKOUT_FOLDER: ~/webrtc

jobs:
  build-windows:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: windows_x86_64
            runs-on: windows-2022
        java: [17]
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        # https://github.com/actions/checkout/releases/latest

      - id: prepare
        name: Prepare build
        uses: ./.github/actions/prepare-windows

      - id: gradle-build
        name: Gradle build
        uses: ./.github/actions/build
        with:
          java-version: ${{ matrix.java }}
          platform-name: ${{ matrix.platform.name }}

  build-linux:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: linux_arm
            runs-on: ubuntu-22.04
          - name: linux_arm64
            runs-on: ubuntu-22.04
          - name: linux_x86-64
            runs-on: ubuntu-22.04
        java: [17]
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        # https://github.com/actions/checkout/releases/latest

      - id: prepare
        name: Prepare build
        uses: ./.github/actions/prepare-linux

      - id: gradle-build
        name: Gradle build
        uses: ./.github/actions/build
        with:
          java-version: ${{ matrix.java }}
          platform-name: ${{ matrix.platform.name }}

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: macos_x86-64
            runs-on: macos-15-intel
          - name: macos_arm64
            runs-on: macos-14
        java: [17]
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        # https://github.com/actions/checkout/releases/latest

      - id: prepare-build
        name: Prepare build
        uses: ./.github/actions/prepare-macos

      - id: gradle-build
        name: Gradle build
        uses: ./.github/actions/build
        with:
          java-version: ${{ matrix.java }}
          platform-name: ${{ matrix.platform.name }}
